.nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--bg-100);
  box-shadow: 0px 20px 20px -20px rgb(0, 0, 0);
}
.nav > * {
  margin: 0 1rem;
}
.nav ul {
  list-style: none;
  display: flex;
}
.nav ul > * {
  margin: 0 1rem;
}
.nav a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.active {
  border-bottom: 3px solid var(--link-color);
}
